body {
    background: #f8f8f8;
}

a {
    cursor: pointer;
}

/* Nav Bar
 * -------------------------------------- */
.navbar .navbar-inner {
    border: 0;
    line-height: 30px;
    background: #101010;
    background: linear-gradient(#101010, #050505);
}

.navbar .brand {
    color: white;
}

.navbar .nav > li > a {
    color: #ccc;
    line-height: 30px;
}

.navbar .nav li.active a {
    color: white;
    background: #222;
    background: linear-gradient(#050505, #101010);
    box-shadow: inset 0px 0px 5px black;
}

/* Carousel
 * -------------------------------------- */
.carousel {
    padding-top: 50px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel-coverimage {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel .item {
    height: 500px;
}

.carousel-caption {
    background: rgba(0,0,0,.45);
    max-width: 550px;
    position: static;
    margin-top: 350px
}

.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: white;
}


/* News-Items
 * -------------------------------------- */
.news-section {
    background: #f8f8f8;
}

.card {
    border: 1px solid #ddd;
    background: white;
    padding: 10px 10px;
}

.news-row {
    position: relative;
    margin-top: 15px;
}

.news-row:first-child {
    margin-top: 0;
}

.news-row:last-child {
    margin-bottom: 30px;
}

.news-inner {
    margin-right: 12px;
    overflow: hidden;
}

.news-section .thumbnail {
    margin: 0px auto;
    min-height: 160px;
}

.news-tag {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
}

.tag-announcement {
    background: #BF3730;
}

.tag-event {
    background: #1E6D74;
}

.tag-blog {
    background: #82B22C;
}

.news-section h4 {
}

.news-section p {
}


/* Parllax Split
 * -------------------------------------- */
.parallax-window {
    min-height: 300px;
    background: no-repeat fixed center center url('../images/banner.jpg');
    background-size: cover;
    color: white;
}

.parallax-window h3 {
    margin-top: 80px;
    font-size: 3em;
    color: white;
    text-align: center;
}

.parallax-window h2 {
    font-size: 3em;
    font: 20px;
    margin-top: 20px;
    text-align: center;
}


/* Events
 * -------------------------------------- */
.events-section {
    background: #163554;
    padding: 50px 0px 30px 0px;
}

.events-section .item {
    height: 100%;
}

.events-section h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}

.events-section h6 {
    font-size: 1.3em;
    color: #5F86AD;
    padding-top: 0px;
    margin-top: 0px;
}

.events-section .row-fluid {
    width: 100%;
}

.event-item {
    padding: 20px 5px;
    display: table-cell;
}

.event-item img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.events-section h4 {
    color: white;
    text-transform: uppercase;
}

.events-section p {
    color: #859CAE;
    line-height: 21px;
    font-size: 1.1em;
}

/* Footer
 * -------------------------------------- */
.footer {
    padding: 10px 0px;
    background: #060606;
    border-top: 1px solid #000;
}

.footer h4 {
    color: #999;
}

#mail-list {
    margin-top: 7px;
}

#mail-list input {
    background: #222;
    border: 1px solid black;
    color: #ddd;
}

#mail-list button {
    background: #333;
    background-image: linear-gradient(to bottom, #333, #323232);
    border: 1px solid #222;
    border-radius: 0;
    text-shadow: none;
    color: #eee;
}

#mail-list button:hover {
    background-color: #222222;
    text-shadow: none;
    border: 1px solid #000;
}

.footer a {
    color: #444;
}

.footer a:hover {
    color: #aaa;
    text-decoration: none;
}

/* Footer2
 * -------------------------------------- */
.footer2 {
    overflow: hidden;
    height: 50px;
    background: #040404;
    border-top: 1px #222;
    box-shadow: inset 0px 0px 5px -1px black;
}

.footer2 p {
    line-height: 50px;
}

.footer2 a {
    text-indent: -9999px;
    display: inline-block;
    margin-top: 9px;
    width: 32px;
    height: 32px;
}

.footer2 a:hover {
    background-position: 0px -32px;
}

.soc-twitter {
    background: no-repeat url('../images/social-ico/twitter.png');
}

.soc-facebook {
    background: no-repeat url('../images/social-ico/facebook.png');
}

.soc-linkedin {
    background: no-repeat url('../images/social-ico/linkedin.png');
}
.soc-youtube {
    background: no-repeat url('../images/social-ico/youtube.png');
}

/* Blog
 * -------------------------------------- */
.blog-wrap {
    padding-bottom: 50px;
}

.blog-header{
    margin-top: 100px;
    margin-left: 30px;
}

.blog-wrap .row {
    margin-top: 20px;
}

.blog-wrap section li {
    font-size: 18px;
    display: block;
    border-width: 1px;
    padding: 12px;
    overflow: hidden;
    border-top-style: solid;
    border-top-color: #dfdfdf;
}

.blog-wrap section p {
    margin-bottom: 0;
}

.blog-wrap section li:first-child {
    border-top:0;
}

.blog-wrap section li:last-child {
    border-bottom: 1px solid #dfdfdf;
}

.blog-wrap span {
    color: grey;
    font-size: 15px;
    font-style: italic;
}

.blog-wrap span strong {
    color:black;
}

.blog-wrap section li a {
    color: #1531AE;
    padding-left: 5px;
    text-decoration: none;
}

.blog-wrap section li:hover {
    background-color: #dfdfdf;    
}

.blog-wrap time {
    width: 82px;
    height: 32px;
    color: grey;
}

/* Search Box
 * -------------------------------------- */
.search {
    margin-top: 12px;
    padding: 3px;
    box-shadow: 0px 0px 0px 1px #dfdfdf;
    margin-bottom: 10px;
}

.search h4{
    margin-left: 22px;
}
.search .input-prepend {
    
    margin-left: 22px;
}

/* Events Box
 * -------------------------------------- */
.feed {
    padding: 3px 0px 3px 0px;
    box-shadow: 0px 0px 0px 1px #dfdfdf;
}

.feed h4 {
    padding-left: 30px;

}

.feed ol {
    margin-left: 0px;
}
    
.feed li {
    list-style: none;
    font-size: 16px;
    padding: 5px 0px 5px 30px;
}

.feed li a {
  color: orange;
  font-family: Arial;
}

.feed li:hover {
    background-color: #dfdfdf;
    list-style: none;
    text-decoration: none;
}
